# конфиденциальные данные 
.env
*.key
*.pem

# системные файлы
.DS_Store
Thumbs.db
*.swp
*.log

# IDE
.idea/
.vscode/
*.log

# backend
node_modules/
npm-debug.log

#frontend
node_modules/
dist/
build/
*.map
*.css.map
*.js.map
.sass-cache/
*.css.map
*.sass.map
*.scss.map



